@use '../table.mixins' as *;
@use '../../../base/functions/rem-em' as *;

.table-stacked {
	> thead > tr > th {
		> tbody {
			box-shadow: inset 0 -1px var(--gray4);

			> tr:not(.ui-tab-panel) > td {
				padding: 0 0.625rem;
				box-shadow: none;
				height: 2.5rem;

				&[rowspan] {
					padding-bottom: get-rem(16);
				}

				&:first-of-type {
					padding-left: get-rem(20);
				}
				&:last-of-type {
					padding-right: get-rem(20);
				}
				&:only-of-type {
					padding-left: get-rem(10);
					padding-right: get-rem(10);
				}
			}
			> tr:first-of-type:not(.ui-tab-panel) > td {
				padding-top: get-rem(16);
			}
			> tr:last-of-type:not(.ui-tab-panel) > td {
				padding-bottom: get-rem(16);
			}
		}
	}
}
