// Base Functions, Mixins, Variables
@use '../../base/functions/rem-em' as *;
@use '../../base/mixins/display' as *;
@use '../../base/variables' as *;

%input-reset {
	display: block;
	outline: none;
	margin: 0;
	resize: none;
}

// Input Basics Mixin
%input-basics {
	position: relative;
	height: get-rem(36);
	width: 100%;
	font: {
		family: $primary-font;
		style: normal;
		weight: 400;
		size: get-rem(16);
	}
	line-height: 150%; // Same as 24px
	color: var(--input-text-color, var(--scorp-black));
	background-color: var(--input-bg-color, var(--white));
	padding: {
		top: get-rem(6);
		right: get-rem(8);
		bottom: get-rem(6);
		left: get-rem(8);
	}
	border: {
		width: 1px;
		style: solid;
		color: var(--input-border-color, var(--scorp-gray3));
		radius: $border-radius;
	}
	box-shadow: none;
	transition:
		border-color $transition-default,
		color $transition-default,
		background-color $transition-default;
}

// Input Disable
%input-disable {
	opacity: 0.5;
	pointer-events: none;
}

// Input Helper Text
%input-helper {
	@include flex-display($justify-content: flex-start, $align-items: flex-start, $gap: #{get-rem(8)});
	font-size: #{get-rem(12)};
	line-height: 1;
	color: var(--input-helper-text-color, var(--text));
	margin-top: #{get-rem(8)};

	> svg {
		color: var(--input-helper-svg-color, var(--scorp-gray3));
	}
}

// Input SVG Position - Right
%input-svg-pos-right {
	position: absolute;
	top: 50%;
	right: #{get-rem(11)};
	height: #{get-rem(18)};
	width: #{get-rem(18)};
	transform: translateY(-50%);
	line-height: 1;
	color: var(--input-icon-color, var(--scorp-gray2));
	z-index: 1;
	font-size: #{get-rem(18)};
}

// Input SVG Position - Left
%input-svg-pos-left {
	position: absolute;
	top: 50%;
	right: #{get-rem(11)};
	height: #{get-rem(18)};
	width: #{get-rem(18)};
	transform: translateY(-50%);
	line-height: 1;
	color: var(--input-icon-color, var(--scorp-gray2));
	z-index: 1;
	font-size: #{get-rem(18)};
}

%search-icon {
	width: get-rem(36);
	height: get-rem(36);
	order: 1;
}

%search-input {
	border: none;
	width: 0;
	height: 100%;
	transition: width $transition-default;

	&:focus {
		~ .close {
			width: get-rem(24);
			height: get-rem(24);
			visibility: visible;
			opacity: 1;
			transition:
				opacity $transition-default,
				visibility $transition-default,
				width 0.3s ease 0s;
		}
	}
}

// Stealth Specific Basics Mixin
// WIP
%stealth-basics {
	position: relative;
	height: get-rem(36);
	width: 100%;
	font: {
		family: $primary-font;
		style: normal;
		weight: 400;
		size: get-rem(16);
	}
	line-height: 150%; // Same as 24px
	color: var(--input-text-color, var(--scorp-black));
	background-color: var(--input-bg-color, var(--white));
	border: {
		width: 1px;
		style: solid;
		color: var(--input-border-color, var(--scorp-gray3));
		radius: $border-radius;
	}
	box-shadow: none;
	transition:
		border-color $transition-default,
		color $transition-default,
		background-color $transition-default;
}

// Select Placeholder (arrow)
%select-before {
	content: '';
	position: absolute;
	top: 50%;
	right: get-rem(12);
	width: get-rem(8);
	height: get-rem(8);
	pointer-events: none;
	background: {
		image: url(/cms/svg/site/icon_caret.36.86898F.svg);
		position: center center;
		repeat: no-repeat;
		size: cover;
	}
	z-index: 1;
	transform: translateY(-50%);
}

/*
************************************************************************************
Input Mark Mixin/Placeholder Styles
************************************************************************************
*/
// Input Mark Placeholders
%replace-label {
	display: inline-block;
	height: get-rem(24);
	width: get-rem(24);
	position: relative;
	flex: 0 0 auto;
	cursor: pointer;
	border: {
		style: solid;
		width: 2px;
		color: var(--input-border-color);
	}
	background-color: var(--input-background);
	transition:
		opacity $transition-default,
		border-color $transition-default,
		background-color $transition-default,
		box-shadow $transition-default;
	box-shadow: var(--input-shadow);
}

// Additional Input Mark Types
%custom-marks {
	height: #{get-rem(24)};
	width: #{get-rem(24)};
	display: block;
	font-size: #{get-rem(24)};
	margin-bottom: 0;
	cursor: pointer;

	&.small {
		width: #{get-rem(15)};
		height: #{get-rem(15)};
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		transition: opacity $transition-default;
		opacity: 0;
		background-color: transparent;
		background-size: auto;
		background-repeat: no-repeat;
		box-shadow: none;
		transform: none;
	}

	&::before {
		opacity: 1;
		background-image: url(/cms/svg/site/icon_star_fill.36.BCBEC7.svg);
	}

	&::after {
		background-image: url(/cms/svg/site/icon_star_fill.36.edae03.svg);
	}

	&:hover {
		&::before {
			opacity: 0;
		}
		&::after {
			opacity: 1;
		}
	}
}

/*
************************************************************************************
Toggle Mixin/Placeholder Styles
************************************************************************************
*/
// Toggle placeholders
%toggle-label {
	position: relative;
	cursor: pointer;
	width: get-em(42);
	height: get-em(24);
	transition: background-color $transition-default;
	border-radius: get-em(12);
	background-color: var(--input-background, var(--scorp-gray3));
	box-shadow: none;
}

/*
************************************************************************************
Input Suggest Mixin/Placeholder Styles
************************************************************************************
*/
// Suggest Tags
%suggest-tags {
	display: inline-flex;
	align-items: center;
	gap: #{get-rem(6)};
	color: var(--tag-accent, var(--gray6));
	background-color: var(--tag-primary, var(--scorp-gray2));
	border-radius: 9999px;
	padding: {
		top: #{get-rem(2)};
		right: #{get-rem(8)};
		bottom: #{get-rem(2)};
		left: #{get-rem(8)};
	}
	line-height: #{get-rem(22)};
	font-size: #{get-rem(14)};
	font-weight: 500;

	& .text {
		list-style: none;
		display: inline-block;
	}
}

%suggest-focus {
	.input-suggest {
		input[type='search'] {
			z-index: 6;
		}
		&:before {
			z-index: 7;
		}
	}
	.suggestions {
		z-index: 14;
	}
}
