///
/// Sizing px to rem list
/// List for sizing
///
/// @group 1-Base
/// @author Mark Fasel
/// @access public
///
$sizes-px-rem: (
	'px': 1,
	'0': 0,
	'0-5': 2,
	'1': 4,
	'1-5': 6,
	'2': 8,
	'2-5': 10,
	'3': 12,
	'3-5': 14,
	'4': 16,
	'4-5': 18,
	'5': 20,
	'5-5': 22,
	'6': 24,
	'6-5': 26,
	'7': 28,
	'7-5': 30,
	'8': 32,
	'8-5': 34,
	'9': 36,
	'9-5': 38,
	'10': 40,
	'11': 44,
	'12': 48,
	'14': 56,
	'16': 64,
	'20': 80,
	'24': 96,
	'28': 112,
	'32': 128,
	'36': 144,
	'40': 160,
	'44': 176,
	'48': 192,
	'52': 208,
	'56': 224,
	'60': 240,
	'64': 256,
	'72': 288,
	'80': 320,
	'96': 384,
);

$sizes-percent: (
	'auto': auto,
	'1-2': 50%,
	'1-3': 33.333333%,
	'2-3': 66.666667%,
	'1-4': 25%,
	'2-4': 50%,
	'3-4': 75%,
	'1-5': 20%,
	'2-5': 40%,
	'3-5': 60%,
	'4-5': 80%,
	'1-6': 16.666667%,
	'2-6': 33.333333%,
	'3-6': 50%,
	'4-6': 66.666667%,
	'5-6': 83.333333%,
	'1-12': 8.333333%,
	'2-12': 16.666667%,
	'3-12': 25%,
	'4-12': 33.333333%,
	'5-12': 41.666667%,
	'6-12': 50%,
	'7-12': 58.333333%,
	'8-12': 66.666667%,
	'9-12': 75%,
	'10-12': 83.333333%,
	'11-12': 91.666667%,
	'full': 100%,
);

$sizes-default: (
	'auto': auto,
	'half': 50%,
	'third': 33.333333%,
	'two-thirds': 66.666667%,
	'fourth': 25%,
	'two-fourths': 50%,
	'three-fourths': 75%,
	'fifth': 20%,
	'two-fifths': 40%,
	'three-fifths': 60%,
	'four-fifths': 80%,
	'sixth': 16.666667%,
	'two-sixths': 33.333333%,
	'three-sixths': 50%,
	'four-sixths': 66.666667%,
	'five-sixths': 83.333333%,
	'twelfth': 8.333333%,
	'two-twelfths': 16.666667%,
	'three-twelfths': 25%,
	'four-twelfths': 33.333333%,
	'five-twelfths': 41.666667%,
	'six-twelfths': 50%,
	'seven-twelfths': 58.333333%,
	'eight-twelfths': 66.666667%,
	'nine-twelfths': 75%,
	'ten-twelfths': 83.333333%,
	'eleven-twelfths': 91.666667%,
	'full': 100%,
);

$sizes-extra: (
	'vw-screen': 100vw,
	'vh-screen': 100hw,
	'min': min-content,
	'max': max-content,
	'fit': fit-content,
);
