.list {
	&--disc {
		& > li {
			&::before {
				list-style-type: disc;
			}
		}
	}
	&--decimal {
		& > li {
			&::before {
				content: counter(decimal, decimal) '\200A.\00A0';
			}
		}
	}
	&--circle {
		& > li {
			&::before {
				list-style-type: circle;
			}
		}
	}
	&--hyphen {
		& > li {
			&::before {
				content: '–\00A0\00A0';
			}
		}
	}
	&--square {
		& > li {
			&::before {
				list-style-type: square;
			}
		}
	}
}
