@use '../../base/variables/layout/axis-control' as *;
@use '../../base/variables/layout/display' as *;
@use '../mixins/responsive' as *;

@each $name, $breakpoint in $breakpoints {
	// Loop thru breakpoints map and include dynamic breakpoint mixin
	@include respond-to($name) {
		// Hide Classes
		.#{$name}-ninja {
			display: none;
		}

		// Display Property Classes
		@each $property in $display-properties {
			.#{$name}-d-#{$property},
			.#{$name}-#{$property} {
				display: #{$property};
			}
		}

		@each $property in $break-before-after-properties {
			.#{$name}-break-before-#{$property} {
				break-before: #{$property};
			}
			.#{$name}-break-after-#{$property} {
				break-after: #{$property};
			}
		}

		@each $property in $break-inside-properties {
			.#{$name}-break-inside-#{$property} {
				break-inside: #{$property};
			}
		}

		@each $property in $overflow-properties {
			.#{$name}-overflow-#{$property} {
				overflow: #{$property};
			}
			.#{$name}-overflow-x-#{$property} {
				overflow-x: #{$property};
			}
			.#{$name}-overflow-y-#{$property} {
				overflow-y: #{$property};
			}
		}

		@each $class, $property in $position-properties {
			.#{$name}-#{$class} {
				position: #{$property};
			}
		}

		// Clear Properties
		.#{$name}-clear-left {
			clear: left;
		}

		.#{$name}-clear-right {
			clear: right;
		}

		.#{$name}-clear-both {
			clear: both;
		}

		.#{$name}-clear-none {
			clear: none;
		}

		@each $class, $property in $overscroll-properties {
			@if $class != 'y' or $class != 'x' {
				.#{$name}-overscroll-#{$class} {
					overscroll-behavior: #{$property};
				}
			} @else if $class == 'y' {
				$y-properties: map-get($overscroll-properties, 'y');
				@each $y-property in $y-properties {
					.#{$name}-overscroll-#{$class}-#{$y-property} {
						overscroll-behavior-y: #{$y-property};
					}
				}
			} @else if $class == 'x' {
				$x-properties: map-get($overscroll-properties, 'x');
				@each $x-property in $x-properties {
					.#{$name}-overscroll-#{$class}-#{$x-property} {
						overscroll-behavior-x: #{$x-property};
					}
				}
			}
		}
	}
}
