// Font Size Resets
@media screen and (max-width: 1440px) {
	html {
		font-size: 1.0408vw;
	}
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 1.24875vw;
	}
}

@media screen and (max-width: 1000px) {
	html {
		font-size: 1.7vw;
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 2.123vw;
	}
}

@media screen and (max-width: 650px) {
	html {
		font-size: 2.47vw;
	}
}

@media screen and (max-width: 550px) {
	html {
		font-size: 3.7143vw;
	}
}
