@use '../../../base/variables/colors/charts' as *;
.legend.custom{
	.bull,
	.bar,
	.line,
	.dash,
	.legend--item {//.legend--item is in here for the documentation page, it will not set the bg without the inline styling
		.bg-chart-blue,
		&.bg-chart-blue {
			--chart-bg-color: var(--chart-blue);
		}
		.bg-chart-aqua,
		&.bg-chart-aqua {
			--chart-bg-color: var(--chart-aqua);
		}
		.bg-chart-purple,
		&.bg-chart-purple
			{
			--chart-bg-color: var(--chart-purple);
		}
		.bg-chart-green,
		&.bg-chart-green
			{
			--chart-bg-color: var(--chart-green);
		}
		.bg-chart-yellow,
		&.bg-chart-yellow
			{
			--chart-bg-color: var(--chart-yellow);
		}
		.bg-chart-red,
		&.bg-chart-red
			{
			--chart-bg-color: var(--chart-red);
		}
		.bg-chart-steel-blue,
		&.bg-chart-steel-blue
			{
			--chart-bg-color: var(--chart-steel-blue);
		}
		.bg-chart-orange,
		&.bg-chart-orange
			{
			--chart-bg-color: var(--chart-orange);
		}
		.bg-chart-cyan,
		&.bg-chart-cyan
			{
			--chart-bg-color: var(--chart-cyan);
		}
		.bg-chart-magenta,
		&.bg-chart-magenta
			{
			--chart-bg-color: var(--chart-magenta);
		}
		.bg-chart-filler,
		&.bg-chart-filler
			{
			--chart-bg-color: var(--chart-filler);
		}
		.bg-chart-target,
		&.bg-chart-target
			{
			--chart-bg-color: var(--chart-target);
		}
	}
}


