.ichart,
.ichart2 {
	&.theme--leads {
		> span:first-of-type {
			--chart-bg-image: linear-gradient(to bottom, rgb(109, 89, 255), rgb(219, 214, 255));
			--chart-bg-color: rgb(109, 89, 255);
			--chart-color: rgb(109, 89, 255);
			--chart-border-color: rgb(109, 89, 255);
		}
		> span:nth-of-type(2) {
			--chart-bg-image: linear-gradient(to bottom, rgb(88, 219, 218), rgb(214, 246, 246));
			--chart-bg-color: rgb(88, 219, 218);
			--chart-color: rgb(88, 219, 218);
			--chart-border-color: rgb(88, 219, 218);
		}
		> span:nth-of-type(3) {
			--chart-bg-image: linear-gradient(to bottom, rgb(0, 127, 253), rgb(102, 178, 254));
			--chart-bg-color: rgb(0, 127, 253);
			--chart-color: rgb(0, 127, 253);
			--chart-border-color: rgb(0, 127, 253);
		}
	}
}

.theme--leads {
	.legend--item {
		&:first-of-type {
			.bull,
			.bar,
			.line,
			.dash,
			&.bull,
			&.bar,
			&.line,
			&.dash {
				--chart-bg-color: rgb(109, 89, 255);
			}
		}
		&:nth-of-type(2) {
			.bull,
			.bar,
			.line,
			.dash,
			&.bull,
			&.bar,
			&.line,
			&.dash {
				--chart-bg-color: rgb(88, 219, 218);
			}
		}
		&:nth-of-type(3) {
			.bull,
			.bar,
			.line,
			.dash,
			&.bull,
			&.bar,
			&.line,
			&.dash {
				--chart-bg-color: rgb(0, 127, 253);
			}
		}
	}
}
