.theme--line {
	.ichart,
	.ichart2,
	&.ichart,
	&.ichart2 {
		> span:first-of-type,
		.line-chart-dot:first-of-type {
			--chart-color: #007ffd;
			--chart-border-color: #007ffd;
			--chart-bg-color: #007ffd;
			--chart-bg-image: linear-gradient(to bottom, #007ffd, #66b2fe);
		}
		> span:nth-of-type(2),
		.line-chart-dot:nth-of-type(2) {
			--chart-color: #58dbda;
			--chart-border-color: #58dbda;
			--chart-bg-color: #58dbda;
			--chart-bg-image: linear-gradient(to bottom, #58dbda, #9be9e9);
		}
		> span:nth-of-type(3),
		.line-chart-dot:nth-of-type(3) {
			--chart-color: #6d59ff;
			--chart-border-color: #6d59ff;
			--chart-bg-color: #6d59ff;
			--chart-bg-image: linear-gradient(to bottom, #6d59ff, #a89cff);
		}
		> span:nth-of-type(4),
		.line-chart-dot:nth-of-type(4) {
			--chart-color: #77c767;
			--chart-border-color: #77c767;
			--chart-bg-color: #77c767;
			--chart-bg-image: linear-gradient(to bottom, #77c767, #aedda4);
		}
		> span:nth-of-type(5),
		.line-chart-dot:nth-of-type(5) {
			--chart-color: #f6cd4c;
			--chart-border-color: #f6cd4c;
			--chart-bg-color: #f6cd4c;
			--chart-bg-image: linear-gradient(to bottom, #f6cd4c, #fae194);
		}
		> span:nth-of-type(6),
		.line-chart-dot:nth-of-type(6) {
			--chart-color: #ca4b45;
			--chart-border-color: #ca4b45;
			--chart-bg-color: #ca4b45;
			--chart-bg-image: linear-gradient(to bottom, #ca4b45, #df9390);
		}
		> span:nth-of-type(7),
		.line-chart-dot:nth-of-type(7) {
			--chart-color: #a3c2de;
			--chart-border-color: #a3c2de;
			--chart-bg-color: #a3c2de;
			--chart-bg-image: linear-gradient(to bottom, #a3c2de, #c8dbeb);
		}
		> span:nth-of-type(8),
		.line-chart-dot:nth-of-type(8) {
			--chart-color: #e59438;
			--chart-border-color: #e59438;
			--chart-bg-color: #e59438;
			--chart-bg-image: linear-gradient(to bottom, #e59438, #efbf88);
		}
		> span:nth-of-type(9),
		.line-chart-dot:nth-of-type(9) {
			--chart-color: #66bfff;
			--chart-border-color: #66bfff;
			--chart-bg-color: #66bfff;
			--chart-bg-image: linear-gradient(to bottom, #66bfff, #a4d9ff);
		}
		> span:nth-of-type(10),
		.line-chart-dot:nth-of-type(10) {
			--chart-color: #d561da;
			--chart-border-color: #d561da;
			--chart-bg-color: #d561da;
			--chart-bg-image: linear-gradient(to bottom, #d561da, #e6a1e9);
		}
	}
}

.theme--line {
	.legend {
		.legend--item {
			&:first-of-type {
				.bull,
				.bar,
				.line,
				.dash,
				&.bull,
				&.bar,
				&.line,
				&.dash {
					--chart-bg-color: #007ffd;
				}
			}
			&:nth-of-type(2) {
				.bull,
				.bar,
				.line,
				.dash,
				&.bull,
				&.bar,
				&.line,
				&.dash {
					--chart-bg-color: #58dbda;
				}
			}
			&:nth-of-type(3) {
				.bull,
				.bar,
				.line,
				.dash,
				&.bull,
				&.bar,
				&.line,
				&.dash {
					--chart-bg-color: #6d59ff;
				}
			}
			&:nth-of-type(4) {
				.bull,
				.bar,
				.line,
				.dash,
				&.bull,
				&.bar,
				&.line,
				&.dash {
					--chart-bg-color: #77c767;
				}
			}
			&:nth-of-type(5) {
				.bull,
				.bar,
				.line,
				.dash,
				&.bull,
				&.bar,
				&.line,
				&.dash {
					--chart-bg-color: #f6cd4c;
				}
			}
			&:nth-of-type(6) {
				.bull,
				.bar,
				.line,
				.dash,
				&.bull,
				&.bar,
				&.line,
				&.dash {
					--chart-bg-color: #ca4b45;
				}
			}
			&:nth-of-type(7) {
				.bull,
				.bar,
				.line,
				.dash,
				&.bull,
				&.bar,
				&.line,
				&.dash {
					--chart-bg-color: #a3c2de;
				}
			}
			&:nth-of-type(8) {
				.bull,
				.bar,
				.line,
				.dash,
				&.bull,
				&.bar,
				&.line,
				&.dash {
					--chart-bg-color: #e59438;
				}
			}
			&:nth-of-type(9) {
				.bull,
				.bar,
				.line,
				.dash,
				&.bull,
				&.bar,
				&.line,
				&.dash {
					--chart-bg-color: #66bfff;
				}
			}
			&:nth-of-type(10) {
				.bull,
				.bar,
				.line,
				.dash,
				&.bull,
				&.bar,
				&.line,
				&.dash {
					--chart-bg-color: #d561da;
				}
			}
		}
	}
}
