.theme--rating {
	&-4-color {
		.ichart,
		.ichart2 {
			> span:first-of-type {
				--chart-color: #23bf57;
				--chart-bg-color: #23bf57;
			}
			> span:nth-of-type(2) {
				--chart-color: #c7ab05;
				--chart-bg-color: #c7ab05;
			}
			> span:nth-of-type(3) {
				--chart-color: #d12b1c;
				--chart-bg-color: #d12b1c;
			}
			> span:nth-of-type(4) {
				--chart-color: #86898f;
				--chart-bg-color: #86898f;
			}
		}
	}
	&-4-color-no-gray {
		.ichart,
		.ichart2 {
			> span:first-of-type {
				--chart-bg-image: linear-gradient(to bottom, #4dc97a, #9eddb5);
			}
			> span:nth-of-type(2) {
				--chart-bg-image: linear-gradient(to bottom, #eebc36, #f0d691);
			}
			> span:nth-of-type(3) {
				--chart-bg-image: linear-gradient(to bottom, #f79e50, #f5c39a);
			}
			> span:nth-of-type(4) {
				--chart-bg-image: linear-gradient(to bottom, #d85549, #e49d98);
			}
		}
	}
}

.theme--rating {
	&-4-color {
		.legend {
			.legend--item {
				&:first-of-type {
					.bull::before,
					.bar::before,
					.line::before {
						--chart-bg-color: #23bf57;
					}
				}
				&:nth-of-type(2) {
					.bull::before,
					.bar::before,
					.line::before {
						--chart-bg-color: #c7ab05;
					}
				}
				&:nth-of-type(3) {
					.bull::before,
					.bar::before,
					.line::before {
						--chart-bg-color: #d12b1c;
					}
				}
				&:nth-of-type(4) {
					.bull::before,
					.bar::before,
					.line::before {
						--chart-bg-color: #86898f;
					}
				}
			}
		}
	}
	&-4-color-no-gray {
		.legend {
			.legend--item {
				&:first-of-type {
					.bull::before,
					.bar::before,
					.line::before,
					.dash::before {
						--chart-bg-color: #4dc97a;
					}
				}
				&:nth-of-type(2) {
					.bull::before,
					.bar::before,
					.line::before,
					.dash::before {
						--chart-bg-color: #eebc36;
					}
				}
				&:nth-of-type(3) {
					.bull::before,
					.bar::before,
					.line::before,
					.dash::before {
						--chart-bg-color: #f79e50;
					}
				}
				&:nth-of-type(4) {
					.bull::before,
					.bar::before,
					.line::before,
					.dash::before {
						--chart-bg-color: #d85549;
					}
				}
			}
		}
	}
}
