@use '../../base/variables/layout/axis-control' as *;
@use '../mixins/print' as *;

@include print() {
	@each $property in $justify-properties {
		.print-justify {
			$justify-content: map-get($justify-properties, 'content');
			@each $class, $property in $justify-content {
				&-#{$class} {
					justify-content: $property;
				}
			}

			// Justify Items
			&-items {
				$justify-items: map-get($justify-properties, 'items');
				@each $class, $property in $justify-items {
					&-#{$class} {
						justify-items: $property;
					}
				}
			}

			// Justify Self
			&-self {
				$justify-self: map-get($justify-properties, 'self');
				@each $class, $property in $justify-self {
					&-#{$class} {
						justify-self: $property;
					}
				}
			}
		}
	}

	@each $align-map in $align-properties {
		// Align Content
		.print-content {
			$align-content: map-get($align-properties, 'content');
			@each $class, $property in $align-content {
				&-#{$class} {
					align-content: $property;
				}
			}
		}

		// Align Items
		.print-items {
			$align-items: map-get($align-properties, 'items');
			@each $class, $property in $align-items {
				&-#{$class} {
					align-items: $property;
				}
			}
		}

		// Align Self
		.print-self {
			$align-self: map-get($align-properties, 'self');
			@each $class, $property in $align-self {
				&-#{$class} {
					align-self: $property;
				}
			}
		}
	}

	@each $place-map in $place-properties {
		// Place
		.print-place {
			// Place Content
			$place-content: map-get($place-properties, 'content');
			@each $class, $property in $place-content {
				&-#{$class} {
					place-content: $property;
				}
			}

			// Place Items
			&-items {
				$place-items: map-get($place-properties, 'items');
				@each $class, $property in $place-items {
					&-#{$class} {
						place-items: $property;
					}
				}
			}

			// Place Self
			&-self {
				$place-self: map-get($place-properties, 'self');
				@each $class, $property in $place-self {
					&-#{$class} {
						place-self: $property;
					}
				}
			}
		}
	}
}
