@use 'sass:color';
@use '../../../base/variables/colors/branding' as brand;
// Table Graph Chart Styles

.table-graph {
	.hour-row {
		display: grid;
		grid-template-columns: 2.713rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 13px;
		column-gap: 4px;

		.hour {
			font-size: 0.75em;
			padding-right: 0.875rem;
			color: var(--scorp-gray3);
			justify-self: flex-end;
			align-self: center;
		}

		.day {
			background-color: var(--scorp-gray1);
			border-radius: 2px;

			span {
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 8px;
				background-color: var(--bg-color, var(--scorp-blue));
			}

			.tip span {
				background-color: var(--bg-color, transparent);
			}
		}
	}

	.footer {
		display: grid;
		grid-template-columns: 1.813rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1.75em;
		border-top: solid 2px var(--scorp-gray3);
		justify-items: center;
		align-items: flex-end;
		.day {
			font-size: 0.75em;
			color: var(--scorp-gray3);
		}
	}
}
