@use '../base/variables/layout/axis-control' as *;
@use '../base/variables/layout/display' as *;
@use '../base/mixins/responsive' as *;

// Build out properties for each breakpoint
@include respond-to('phone') {
	body {
		font-size: calc(1rem + 1vw);
		// Offset the body on tablet down to account for the height of the nav block (100px or 6.25rem)
		padding-bottom: 6.25rem;
	}
	.top\:phone {
		align-items: flex-start;
	}
	.middle\:phone {
		align-items: center;
	}
	.bottom\:phone {
		align-items: flex-end;
	}
	.start\:phone {
		justify-content: flex-start;
	}
	.center\:phone {
		justify-content: center;
	}
	.end\:phone {
		justify-content: flex-end;
	}
	.tal\:phone {
		text-align: left;
	}
	.tac\:phone {
		text-align: center;
	}
	.tar\:phone {
		text-align: right;
	}
	.block\:phone {
		display: block;
	}
	.hide\:phone {
		display: none;
	}
	.flx\:phone {
		display: flex;
	}
	.flx-col\:phone {
		flex-direction: column;
	}
	.flx-rw\:phone {
		flex-direction: row;
	}
	.pb0\:phone {
		padding-bottom: 0;
	}
	.pt-40-phone {
		padding-top: 2rem;
	}
	.pv30\:phone {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.margin-none\:phone {
		margin: 0;
	}
	.full-width\:phone {
		width: 100%;
	}
	.two-thirds-width\:phone {
		width: 100%;
	}
	.auto-width\:phone {
		width: auto;
	}
	.r\:12\:phone {
		font-size: 0.75rem;
	}
	.r\:14\:phone {
		font-size: 0.875rem;
	}
	.r\:16\:phone {
		font-size: 1rem;
	}
	.height\:16\:phone {
		height: 1rem;
	}
	.break\:all\:phone {
		word-break: break-all;
		line-break: anywhere;
		white-space: normal;
	}
}

@include respond-to('tablet') {
	body {
		font-size: clamp(1rem, 0.7917rem + 0.6667vw, 1.125rem);
	}
	.top\:tablet {
		align-items: flex-start;
	}
	.middle\:tablet {
		align-items: center;
	}
	.bottom\:tablet {
		align-items: flex-end;
	}
	.start\:tablet {
		justify-content: flex-start;
	}
	.center\:tablet {
		justify-content: center;
	}
	.end\:tablet {
		justify-content: flex-end;
	}
	.tal\:tablet {
		text-align: left;
	}
	.tac\:tablet {
		text-align: center;
	}
	.tar\:tablet {
		text-align: right;
	}
	.block\:tablet {
		display: block;
	}
	.hide\:tablet {
		display: none;
	}
	.flx\:tablet {
		display: flex;
	}
	.flx-col\:tablet {
		flex-direction: column;
	}
	.flx-rw\:tablet {
		flex-direction: row;
	}
	.half-width\:tablet {
		width: 50%;
	}
	.full-width\:tablet {
		width: 100%;
	}
	.auto-width\:tablet {
		width: auto;
	}
	.auto-height\:tablet {
		height: auto;
	}
	.r\:16\:tablet {
		font-size: 1rem;
	}
	.r\:24\:tablet {
		font-size: 1.5rem;
	}
	.pb05\:tablet {
		padding-bottom: 0.25rem;
	}
	.break\:all\:phone {
		word-break: normal; // resets word break on tablet up for break:all:phone
		line-break: unset; // resets line break on tablet up for break:all:phone
		white-space: unset; // resets white space on tablet up for break:all:phone
	}
}

@include respond-to('laptop') {
	body {
		font-size: clamp(13px, 0.8333333333333334vw, 16px);

		// Reset padding bottom for laptop and higher
		padding-bottom: 0;
	}

	.top\:laptop {
		align-items: flex-start;
	}
	.middle\:laptop {
		align-items: center;
	}
	.bottom\:laptop {
		align-items: flex-end;
	}
	.start\:laptop {
		justify-content: flex-start;
	}
	.center\:laptop {
		justify-content: center;
	}
	.end\:laptop {
		justify-content: flex-end;
	}
	.tal\:laptop {
		text-align: left;
	}
	.tac\:laptop {
		text-align: center;
	}
	.tar\:laptop {
		text-align: right;
	}
	.block\:laptop {
		display: block;
	}
	.hide\:laptop {
		display: none;
	}
	.flx\:laptop {
		display: flex;
	}
	.flx-col\:laptop {
		flex-direction: column;
	}
	.flx-rw\:laptop {
		flex-direction: row;
	}
	.full-width\:laptop {
		width: 100%;
	}
	.auto-width\:laptop {
		width: auto;
	}
	.half-width\:laptop {
		width: 50%;
	}
	.fourth-width\:laptop {
		width: 25%;
	}
	.two-thirds-width\:laptop {
		width: 66.67%;
	}
	.r\:22\:laptop {
		font-size: 1.375rem;
	}
}

@include respond-to('laptop-wide') {
	.top\:laptop-wide {
		align-items: flex-start;
	}
	.middle\:laptop-wide {
		align-items: center;
	}
	.bottom\:laptop-wide {
		align-items: flex-end;
	}
	.start\:laptop-wide {
		justify-content: flex-start;
	}
	.center\:laptop-wide {
		justify-content: center;
	}
	.end\:laptop-wide {
		justify-content: flex-end;
	}
	.tal\:laptop-wide {
		text-align: left;
	}
	.tac\:laptop-wide {
		text-align: center;
	}
	.tar\:laptop-wide {
		text-align: right;
	}
	.block\:laptop-wide {
		display: block;
	}
	.hide\:laptop-wide {
		display: none;
	}
	.flx\:laptop-wide {
		display: flex;
	}
	.flx-col\:laptop-wide {
		flex-direction: column;
	}
	.flx-rw\:laptop-wide {
		flex-direction: row;
	}
	.full-width\:laptop-wide {
		width: 100%;
	}
	.auto-width\:laptop-wide {
		width: auto;
	}
	.half-width\:laptop-wide {
		width: 50%;
	}
	.three-fourths\:laptop-wide {
		width: 75%;
	}
	.two-fifths\:laptop-wide {
		width: 40%;
	}
}

@include respond-to('desktop') {
	.top\:desktop {
		align-items: flex-start;
	}
	.middle\:desktop {
		align-items: center;
	}
	.bottom\:desktop {
		align-items: flex-end;
	}
	.start\:desktop {
		justify-content: flex-start;
	}
	.center\:desktop {
		justify-content: center;
	}
	.end\:desktop {
		justify-content: flex-end;
	}
	.tal\:desktop {
		text-align: left;
	}
	.tac\:desktop {
		text-align: center;
	}
	.tar\:desktop {
		text-align: right;
	}
	.block\:desktop {
		display: block;
	}
	.hide\:desktop {
		display: none;
	}
	.flx\:desktop {
		display: flex;
	}
	.flx-col\:desktop {
		flex-direction: column;
	}
	.flx-rw\:desktop {
		flex-direction: row;
	}
	.third-width\:desktop {
		width: 33%;
	}
	.two-thirds-width\:desktop {
		width: 66.67%;
	}
	.half-width\:desktop {
		width: 50%;
	}
	.full-width\:desktop {
		width: 100%;
	}
	.auto-width\:desktop {
		width: auto;
	}
	.pt-40-phone {
		padding-top: 0;
	}
	.pr60\:desktop {
		padding-right: 3rem;
	}
}

// Phone Only - TODO: Refactor this
@media screen and (min-width: 250px) and (max-width: 699px) {
	.mb30\:phone {
		margin-bottom: 1rem;
	}
}
