// Border Radius Map
$border-radius: (
	all: (
		none: 0,
		sm: 2,
		default: 4,
		md: 6,
		lg: 8,
		xl: 12,
		2xl: 16,
		3xl: 24,
		full: 9999,
	),
	none: 0,
	sm: 2,
	default: 4,
	md: 6,
	lg: 8,
	xl: 12,
	2xl: 16,
	3xl: 24,
	full: 9999,
);

// Border Sides Map
$sides: (
	all: all,
	t: top,
	r: right,
	b: bottom,
	l: left,
	tl: top-left,
	tr: top-right,
	br: bottom-right,
	bl: bottom-left,
);
