@use 'sass:color';
@use '../../../base/functions/rem-em' as *;
@use '../../../base/variables/colors/branding' as brand;

@use '../forms.var' as *;
@use '../forms.mixin' as *;

// Input Mark Theme Styles - CSX
.input-mark {
	// Radio Button and Checkbox
	.replace {
		--input-border-color: var(--scorp-gray3);
		--input-shadow: none;
		--input-background: var(--white);
		&:hover {
			--input-border-color: var(--scorp-gray2);
			--input-shadow: 0 0 0 #{get-rem(6)} #{input-shadow-hover};
		}

		&:active {
			--input-border-color: var(--scorp-gray2);
			--input-shadow: 0 0 0 #{get-rem(6)} var(--scorp-blue4);
		}

		&::before {
			--input-before-bg: var(--scorp-blue);
		}
		&:focus {
			--input-shadow: 0 0 0 #{get-rem(6)} var(--scorp-blue4);
		}
	}
	.toggle {
		--input-background: var(--scorp-gray3);

		&::before {
			--input-toggle-before-bg: var(--white);
		}
	}
	// Input field and nested styles
	input {
		&:checked {
			// Set default checked
			+ .replace {
				--input-border-color: var(--scorp-blue);
				--input-background: var(--scorp-blue);
			}

			// Toggle
			+ .toggle {
				--input-background: var(--scorp-blue);
			}

			& ~ label.tile {
				--tile-box-shadow: inset 0 0 0 2px var(--scorp-blue);
			}
		}

		// Indeterminate styles
		&[type='checkbox']:indeterminate,
		&.indeterminate {
			// Set the bg and border color for the indeterminate
			+ .replace {
				--input-border-color: var(--scorp-blue);
				--input-background: var(--scorp-blue);
			}
		}

		// Hover styles on input mark inside input
		&:hover {
			// Hover styles for toggle
			& + label.toggle,
			& ~ label.toggle {
				--input-background: var(--scorp-gray2);
			}
		}

		// Disable pseudo element on the input field - styles on the elements inside
		&:disabled {
			+ .replace {
				@extend %input-disable;
				& + label {
					opacity: 0.5;
					pointer-events: none;
				}
			}
		}

		// Radio Button Styles
		&[type='radio'] {
			+ .replace {
				&::after {
					--input-background: var(--white);
				}
			}
			&:checked {
				+ .replace {
					--input-border-color: var(--scorp-blue);
					&::before {
						--input-background: var(--white);
					}
					&::after {
						--input-background: var(--scorp-blue);
					}
				}
			}
		}
		// Set the opacity correctly for the before and after
		&:checked ~ label.fav::before,
		&:checked ~ label.pinned::before,
		&:checked ~ label.promoted::before,
		&:checked ~ label.emergency::before,
		&:checked ~ label.upvote::before,
		&:checked ~ label.downvote::before,
		&:checked ~ label.fav:hover::before,
		&:checked ~ label.pinned:hover::before,
		&:checked ~ label.promoted:hover::before,
		&:checked ~ label.emergency:hover::before,
		&:checked ~ label.upvote:hover::before,
		&:checked ~ label.downvote:hover::before {
			opacity: 0;
		}

		&:checked ~ label.fav::after,
		&:checked ~ label.pinned::after,
		&:checked ~ label.promoted::after,
		&:checked ~ label.emergency::after,
		&:checked ~ label.upvote::after,
		&:checked ~ label.downvote::after,
		&:checked ~ label.fav:hover::after,
		&:checked ~ label.pinned:hover::after,
		&:checked ~ label.promoted:hover::after,
		&:checked ~ label.emergency:hover::after,
		&:checked ~ label.upvote:hover::after,
		&:checked ~ label.downvote:hover::after {
			opacity: 1;
		}
	}

	label {
		&.emergency {
			height: 1rem;
			width: 1rem;
			font-size: 1rem;

			&::before {
				background-image: url(/cms/svg/site/icon_warning_2.36.86898f.svg);
			}

			&::after {
				background-image: url(/cms/svg/site/icon_warning_2.36.d12b1c.svg);
			}
		}

		&.upvote {
			height: 1rem;
			width: 1rem;
			font-size: 1rem;

			&::before {
				background-image: url(/cms/svg/site/icon_thumbs_up_fill.36.BCBEC7.svg);
			}
			&::after {
				background-image: url(/cms/svg/site/icon_thumbs_up_fill.36.23bf57.svg);
			}
		}

		&.downvote {
			height: 1rem;
			width: 1rem;
			font-size: 1rem;

			&::before {
				background-image: url(/cms/svg/site/icon_thumbs_down_fill.36.BCBEC7.svg);
			}

			&::after {
				background-image: url(/cms/svg/site/icon_thumbs_down_fill.36.d12b1c.svg);
			}
		}

		&.pinned {
			&::before {
				background-image: url(/cms/svg/site/icon_pinned.36.BCBEC7.svg);
			}

			&::after {
				background-image: url(/cms/svg/site/icon_pinned.36.edae03.svg);
			}
		}

		&.promoted {
			&::before {
				background-image: url(/cms/svg/site/icon_reshare.36.BCBEC7.svg);
			}

			&::after {
				background-image: url(/cms/svg/site/icon_reshare.36.edae03.svg);
			}
		}

		&.tile {
			--tile-bg: var(--white);
			--tile-box-shadow: inset 0 0 0 2px var(--gray2);
			&:hover {
				--tile-box-shadow: inset 0 0 0 2px var(--scorp-gray3);
			}

			&--gray {
				--tile-bg: var(--gray3);
				--tile-box-shadow: none;
				&:hover {
					--tile-box-shadow: inset 0 0 0 2px var(--gray4);
				}
			}
		}
	}

	// Invalid
	.invalid & {
		input + .replace {
			--input-border-color: var(--red);
		}
		label.tile {
			--tile-box-shadow: inset 0 0 0 2px var(--red);
		}
	}
}

.card {
	input {
	}
	label {
		&.tile {
			--tile-bg: var(--gray3);
			--tile-box-shadow: none;
			&:hover {
				--tile-box-shadow: inset 0 0 0 2px var(--gray4);
			}
		}
	}
}
