@use '../../../base/functions/rem-em' as *;

.uploader {
	--uploader-bg-color: var(--gray3);
	--uploader-border-color: var(--border);

	// Title
	&--title {
		--uploader-title-text: var(--scorp-black);
	}

	// Subtitle
	&--subtitle,
	[data-progress='text'] {
		--uploader-subtitle-text: var(--scorp-gray2);
	}

	button {
		--uploader-btn-color: var(--scorp-blue);
		&:hover,
		&:focus {
			--uploader-btn-color: var(--scorp-blue2);
		}
	}

	&.error {
		--uploader-border-color: var(--red);
		--uploader-bg-color: var(--red2);
	}

	// Set the dragover/cms-dragover color for the uploader border color and background color and update the uploader--image background position
	&.dragover,
	&.cms-dragover {
		--uploader-border-color: var(--scorp-blue);
		--uploader-bg-color: var(--scorp-blue4);

		.uploader--image {
			background-position: center #{get-em(96)}, center center;
		}
	}

	// Document Uploader
	&_document {
		.uploader--image {
			background-image: url(/images/icons/uploader/file-v2.png), url(/images/icons/uploader/file-loaded-v2.png);
		}
	}

	// Image Uploader
	&_image {
		.uploader--image {
			background-image: url(/images/icons/uploader/file-v2.png), url(/images/icons/uploader/file-loaded-v2.png);
		}
	}

	// Video Uploader
	&_video {
		.uploader--image {
			background-image: url(/images/icons/uploader/file-v2.png), url(/images/icons/uploader/file-loaded-v2.png);
		}
	}

	&-selected,
	&--selected {
		--uploader-bg-color: var(--scorp-gray1);
	}

	&--check {
		--uploader-bg-color: var(--green);
	}

	&--cancel,
	&-cancel {
		--uploader-bg-color: var(--scorp-blue);
		--uploader-cancel-text: var(--white);
		&:hover,
		&:focus {
			--uploader-bg-color: var(--scorp-blue2);
		}
	}

	&--progress {
		--uploader-bg-color: var(--green);
	}

	&--dark {
		--uploader-bg-color: var(--scorp-black);

		// Title
		.uploader--title {
			--uploader-title-text: var(--white);
		}

		// Subtitle
		.uploader--subtitle,
		[data-progress='text'] {
			--uploader-subtitle-text: var(--scorp-gray3);
		}

		// Document Uploader
		&.uploader_document {
			.uploader--image {
				background-image: url(/images/icons/uploader/file-v2-dark.png), url(/images/icons/uploader/file-loaded-v2.png);
			}
		}

		// Image Uploader
		&.uploader_image {
			.uploader--image {
				background-image: url(/images/icons/uploader/file-v2-dark.png), url(/images/icons/uploader/file-loaded-v2.png);
			}
		}

		// Video Uploader
		&.uploader_video {
			.uploader--image {
				background-image: url(/images/icons/uploader/file-v2-dark.png), url(/images/icons/uploader/file-loaded-v2.png);
			}
		}

		&.dragover,
		&.cms-dragover {
			// Title
			.uploader--title {
				--uploader-title-text: var(--scorp-black);
			}

			// Subtitle
			.uploader--subtitle,
			[data-progress='text'] {
				--uploader-subtitle-text: var(--scorp-gray2);
			}
		}
	}
}
