@use '../../base/functions/rem-em' as *;

%title-generic {
	color: var(--text-color, var(--scorp-black));
	font-weight: 600;
	font-family: var(--primary-font);
}
%title-kicker {
	color: var(--text-color, var(--text));
	font-weight: 600;
	font-family: var(--primary-font);
	text-transform: uppercase;
}

h1,
.title-h1 {
	@extend %title-generic;
	font-size: get-rem(56);
	letter-spacing: -1px;
	line-height: 104%;
}

h2,
.title-h2 {
	@extend %title-generic;
	font-size: get-rem(40);
	letter-spacing: -1px;
	line-height: 115%;
}

h3,
.title-h3 {
	@extend %title-generic;
	font-size: get-rem(32);
	letter-spacing: -1px;
	line-height: 112%;
}

h4,
.title-h4 {
	@extend %title-generic;
	font-size: get-rem(22);
	line-height: 109%;
}

h5,
.title-h5,
.title-kicker__h5 {
	@extend %title-kicker;
	font-size: get-rem(18);
	letter-spacing: 4px;
	line-height: 133%;
}

h6,
.title-h6,
.title-kicker__h6 {
	@extend %title-kicker;
	font-size: get-rem(14);
	letter-spacing: 2px;
	line-height: 129%;
}

.subtitle {
	@extend %title-generic;
	font-size: get-rem(18);
	line-height: 133%;
}

%kpi-title {
	color: var(--text-color, var(--text));
	display: block;
	font-weight: 500;
	&.flex {
		display: flex;
	}
}

%kpi-value {
	color: var(--text-color, var(--scorp-black));
	display: block;
	font-weight: 600;
	&.flex {
		display: flex;
	}
}

.kpi {
	// Use when needs to be flexed
	&--container {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		gap: get-rem(24);
		margin-top: get-rem(8);
	}
	&--title {
		@extend %kpi-title;
		font-size: get-rem(16);
		line-height: 109%;
		&__sm {
			@extend %kpi-title;
			font-size: get-rem(14);
			line-height: 157%;
		}
	}
	&--stat {
		@extend %kpi-value;
		font-size: get-rem(24);
		line-height: 150%;
		&__sm {
			@extend %kpi-value;
			font-size: get-rem(18);
		}
		&__lg {
			@extend %kpi-value;
			font-size: get-rem(32);
			letter-spacing: -1px;
			line-height: 112%;
		}
	}
}
