@use 'sass:color';
@use '../../base/functions/rem-em' as *;
@use '../../base/variables/colors/colors' as proj;
@use './circle.mixin' as *;
@use './circle.variables' as *;

$shadow: scale-color(
	$color: proj.$black,
	$alpha: -70%
);

// Circle

.circle {
	@extend %circle;
	width: #{get-rem(36)};
	height: #{get-rem(36)};
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	flex: 0 0 auto;
	background-color: var(--bg-color, var(--scorp-blue));
	color: var(--text-color, var(--white));

	&.shadow {
		box-shadow: 0 0.15em 0.5em -0.1em $shadow;
	}

	// Staff Circle
	&.staff {
		border: {
			width: 1px;
			style: solid;
		}
		border-color: var(--outline-color, var(--scorp-blue3)); // Didn't change this (it uses outline color instead of border color due to the component using o- to a component driven theme color to allow for o- class to change the color

		.profile {
			@extend %circle;
			position: relative;
			width: 100%;
			background: {
				size: cover;
				position: center;
				image: url(https://success.scorpion.co/cms/thumbnails/34/62x62/images/staff-2020/headshots/.jpg);
			}
		}
	}

	&.outline {
		border: solid 2px var(--white);
		.dull {
			border: solid 2px var(--gray2);
		}
	}

	&.disable {
		filter: grayscale(100%);
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.progress-circle {
		&--white {
			canvas:last-child {
				color: var(--progress-circle-last-canvas-color);
			}
		}

		& span {
			color: var(--progress-circle-span-color);
		}
	}

	&--social {
		--bg-color: var(--gray2);
		--text-color: var(--white);

		height: 2em;
		width: 2em;

		& svg path {
			fill: var(--white);
		}
	}

	// Circle Sizes
	@each $size in $circle-sizes {
		&--size-#{$size} {
			width: #{get-rem($size)};
			height: #{get-rem($size)};

			& > span {
				font-weight: 600;
			}
		}

		@if $size >= 96 or $size > 36 {
			&--size-#{$size} > span {
				font-size: calc(#{get-rem($size)} / 3);
			}
		}

		@if $size <= 36 {
			&--size-#{$size} > span {
				font-size: #{get-rem(12)};
			}
		}
	}
}
