@use '../../base/variables/colors/index' as *;
@use '../../base/functions/rem-em' as *;

// Component Mixins and Variables
@use './circle.mixin' as *;
@use './circle.variables' as *;

// Circle
.circle {
	@extend %circle;
	width: #{get-rem(36)};
	height: #{get-rem(36)};
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	flex: 0 0 auto;
	background-color: var(--bg-color);
	color: var(--text-color);

	&.shadow {
		box-shadow: 0 0.15em 0.5em -0.1em rgba($black, 30%);
	}

	// Staff Circle
	&.staff {
		border: {
			width: 2px;
			style: solid;
		}
		border-color: var(--outline-color, var(--scorp-blue3));

		.profile {
			@extend %circle;
			position: relative;
			width: 100%;
			background: {
				size: cover;
				position: center;
			  	// @todo: Image to resolve and decouple
			  	image: url(https://success.scorpion.co/cms/thumbnails/34/62x62/images/staff-2020/headshots/.jpg);
			}
		}
	}

	&.outline {
		border: solid 2px var(--white);
		.dull {
			border: solid 2px var(--gray2);
		}
	}

	&.disable {
		filter: grayscale(100%);
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.progress-circle {
		&--white {
			canvas:last-child {
				color: var(--progress-circle-last-canvas-color);
			}
		}

		& span {
			color: var(--progress-circle-span-color);
		}
	}

	&--social {
		--bg-color: var(--gray2);
		--text-color: var(--white);

		height: 2em;
		width: 2em;

		& svg path {
			fill: var(--white);
		}
	}

	// Circle Sizes
	@each $size in $circle-sizes {
		&--size-#{$size} {
			width: #{get-rem($size)};
			height: #{get-rem($size)};

			& > span {
				font-weight: 600;
			}
		}

		@if $size >= 96 or $size > 36 {
			&--size-#{$size} > span {
				font-size: calc(#{get-rem($size)} / 3);
			}
		}

		@if $size <= 36 {
			&--size-#{$size} > span {
				font-size: #{get-rem(12)};
			}
		}
	}
}
