// Text clamp - mixin to clamp and add ellipsis
@mixin text-clamp($lines: 2, $line-height: false) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	text-overflow: ellipsis;
	line-height: $line-height * 1em;
	line-break: anywhere;
	word-break: break-all;
	white-space: normal;

	// Fallback for non-Webkit browsers
	// (won't show `…` at the end of the block)
	@if $line-height {
		min-height: $line-height * $lines * 1em;
	}
}

// Simple No Text Selection Mixin
%no-text-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version currently supported by Chrome, Edge, Opera and Firefox */
}
