@use '../../../base/variables/var' as *;
@use '../../../base/variables/colors/index' as *;
@use '../../../base/functions/rem-em' as *;

// Component Mixins
@use '../forms.mixin' as *;

.input-mark {
	// Set up the defaults for the input mark class
	display: flex;
	align-items: center;
	gap: #{get-rem(12)};
	position: relative;

	// Set the default replace label and before styles
	.replace {
		@extend %replace-label;

		// Before
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			transition: opacity $transition-default;
			background: {
				color: var(--input-background);
				size: 100%;
				position: 50%;
				repeat: no-repeat;
			}
			box-shadow: none;
			backface-visibility: hidden;
			transform: translate3d(0, 0, 0);
			border-radius: #{get-em(6)};
		}

		// If disable/disabled class
		&.disable,
		&.disabled {
			@extend %input-disable;
			& + label {
				opacity: 0.5;
				pointer-events: none;
			}
		}
	}

	// Set the default toggle styles, before and after styles
	.toggle {
		position: relative;
		cursor: pointer;
		width: get-em(42);
		height: get-em(24);
		transition: background-color $transition-default;
		border-radius: get-em(12);
		background-color: var(--input-background);
		box-shadow: none;

		// Before
		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 0;
			display: block;
			transform: translate(#{get-em(3)}, -50%);
			transition: transform $transition-default;
			box-shadow: 0 1px 6px rgba($scorp-black, 20%);
			border-radius: 50%;
			width: get-em(18);
			height: get-em(18);
			background-color: var(--input-toggle-before-bg);
		}

		// After
		&::after {
			display: none;
		}
	}

	input {
		// Input styles to hide the actual input and we style it on the label
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;

		// Radio Input
		&[type='radio'] {
			// General styles for radio - set the border radius
			+ .replace,
			+ .replace::before,
			+ .replace::after {
				border-radius: 50%;
			}

			// Radio styles for the after pseudo element
			+ .replace::after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: get-rem(10);
				width: get-rem(10);
				background-color: var(--input-background);
				opacity: 0;
			}

			// Checked
			&:checked {
				//General checkbox and toggle
				+ .replace {
					&::before,
					&::after {
						opacity: 1;
					}
				}
			}
		}

		// Checkbox Input
		// Default Checkbox
		&[type='checkbox'] {
			+ .replace {
				border-radius: get-rem(8);
				&::before {
					content: '';
					background: {
					  	// @todo: Image to resolve and decouple - Based 64 Encoded for Temp
						// 	image: url(/cms/svg/admin/icon_checkmark.16.FFFFFF.svg);
					  	image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8c3R5bGU+CglnIHBhdGggeyBzdHJva2U6IG5vbmU7IH0KPC9zdHlsZT4KPGcgY2xhc3M9InJvb3QiIGlkPSJjaGVja21hcmsiIGRhdGEtbmFtZT0iQ2hlY2ttYXJrIiBmaWxsPSIjRkZGRkZGIiBzdHJva2U9IiNGRkZGRkYiPgoJPHBvbHlsaW5lIHBvaW50cz0iMiA4IDYgMTIgMTQgNCIgc3R5bGU9InN0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lam9pbjpyb3VuZDtmaWxsOm5vbmUiIC8+CjwvZz4KPC9zdmc+);
						size: 75%;
						repeat: no-repeat;
						position: 50% 50%;
					}
				}
			}
			// Indeterminate
			&:indeterminate,
			&.indeterminate {
				+ .replace {
					&::before {
						content: '';
						background: {
						  	// @todo: Image to resolve and decouple - Based 64 Encoded for Temp
							// image: url(/cms/svg/admin/icon_subtract.16.FFFFFF.svg);
						  	image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8c3R5bGU+CglnIHBhdGggeyBzdHJva2U6IG5vbmU7IH0KPC9zdHlsZT4KPGcgY2xhc3M9InJvb3QiIGlkPSJzdWJ0cmFjdCIgZGF0YS1uYW1lPSJTdWJ0cmFjdCIgZmlsbD0iI0ZGRkZGRiIgc3Ryb2tlPSIjRkZGRkZGIj4KCTxsaW5lIHgxPSIxIiB5MT0iOCIgeDI9IjE1IiB5Mj0iOCIgZmlsbD0ibm9uZSIgc3R5bGU9InN0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kIiAvPgo8L2c+Cjwvc3ZnPg==);
							size: 75%;
							repeat: no-repeat;
							position: 50% 50%;
						}
					}
					&::before,
					&::after {
						opacity: 1;
					}
				}
			}

			// Checked
			&:checked {
				//General checkbox and toggle
				+ .replace {
					&::before,
					&::after {
						opacity: 1;
					}
				}

				// Toggle
				+ .toggle {
					&::before {
						transform: translate(calc(100% + #{get-em(3)}), -50%);
					}
				}
			}
		}

		// Set the disabled styles to the replace class following the disabled input.
		// The placeholder wouldn't work - temp to write out to ensure the disable style is applied
		&:disabled {
			+ .replace {
				opacity: 0.5;
				cursor: not-allowed;
				pointer-events: none;
			}
		}
	}

	// Custom Input marks
	label {
		&.fav,
		&.pinned,
		&.promoted,
		&.emergency,
		&.upvote,
		&.downvote {
			@extend %custom-marks;
		}
	}
}
