@use '../../../base/functions/rem-em' as *;
@use '../forms.mixin' as *;

.input-select,
.input-text.select {
	position: relative;
	&::before {
		@extend %select-before;
	}
	select {
		@extend %input-reset;
		@extend %input-basics;

		padding-right: get-rem(24);
		-webkit-appearance: none;
	}
}
