@use '../../../base/functions/rem-em' as *;
@use '../forms.mixin' as *;

.mock {
	&-input {
		outline: none;
		margin: 0;
		resize: none;
		@extend %input-basics;
		input {
			width: 100%;
		}
	}
	&--select::before {
		@extend %select-before;
	}
}
