// Contract Colors Map

$contract-color-values: (
	no-selection: #212121,
	standard: #007ffd,
	type60: #007ffd,
	essential: #007ffd,
	advanced: #60b809,
	type61: #60b809,
	moderate: #60b809,
	premium: #c72386,
	type62: #c72386,
	aggressive: #c72386,
	ultimate: #fa6f19,
	type63: #fa6f19,
	domination: #fa6f19,
	type64: #86898f,
	basic: #86898f,
	type65: #191919,
	market-leader: #007ffd,
	type66: #007ffd,
	market-presence: #191919,
	type67: #191919,
	upgrade: #62acfd,
	type68: #62acfd,
	type0: transparent,
	type10: #bf6060,
	type11: #23bf57,
	type13: #c970cc,
	type27: #c970cc,
	type35: #62acfd,
	type39: #1ebfb3,
	type43: #f2f2f5,
	type44: #d12b1c,
	type45: #0065c9,
	type46: #ffcc00,
	type47: #edae28,
	type48: #bcbec7,
	type49: #6a52cc,
	type50: #191919,
	type51: #86898f,
	type52: #23bf57,
	type53: #9c67e6,
	type69: #007ffd,
	type70: #191919,
	type71: #22b2bf,
	type80: #23bf57,
	type85: #62acfd,
	type86: #123251,
	type87: #62acfd,
	type88: #0f993d,
	type89: #86898f,
	type90: #874cd9,
	type91: #23bf57,
	type92: #d95e00,
	type93: #007a8c,
	type94: #8c3d00,
	type95: #f29249,
	type101: #123251,
	type102: #bfa34c,
);

$abrevs: (
	type0: '?',
	type10: Cu,
	type11: Pc,
	type13: Pr,
	type27: Ho,
	type35: Fi,
	type39: He,
	type43: Cu,
	type44: El,
	type45: Se,
	type46: Im,
	type47: Go,
	type48: Sl,
	type49: Ul,
	type50: Di,
	type51: Ti,
	type52: Sc,
	type53: Up,
	type60: St,
	type61: Ad,
	type62: Pr,
	type63: Ul,
	type64: Ba,
	type65: '?',
	type66: ML,
	type67: MP,
	type68: UP,
	type69: Pl,
	type70: UC,
	type71: CA,
	type80: Ct,
	type85: P,
	type86: TSM,
	type87: P,
	type88: FL,
	type89: LS,
	type90: FD,
	type91: LG,
	type92: FR,
	type93: ML,
	type94: FC,
	type95: FM,
	type101: DL,
	type102: NX,
);

$dark-text: (type61, type63, type64, type67, type68, type11, type13, type27, type35, type39, type43, type46, type47, type48, type51, type52, type53, type71, type80, type85, type87, type89, type91, type92, type95, type102);
