// @use declarations
@use '../../base/functions/rem-em' as *;
@use '../../base/mixins/display' as *;
@use '../../base/variables/var' as *;
@use './header.mixins' as *;

.header-group {
	@include flex-display($justify-content: space-between, $align-items: center, $gap: #{get-rem(8)});

	// Layout for header content for element with h3/h4 and item counter
	.header-group__content {
		@include flex-display($align-items: center, $gap: #{get-rem(8)});
	}

	// Layout for header content for right action tabs
	.header-group__actions {
		@include flex-display($align-items: center, $gap: #{get-rem(8)}) {
			.actions {
				// Primary Actions (Search, Icon button)
				&--primary {
					@include flex-display($gap: #{get-rem(8)}, $align-items: center) {
						// Search
						.input-search-simple {
							@include flex-display($gap: #{get-rem(8)}, $align-items: center) {
								svg {
									@extend %search-action-svg;
								}

								input {
									flex: 1 1 auto;
								}
							}
						}

						.action--item {
							@include flex-display($align-items: center);
						}
					}
				}

				// Secondary Actions (Primary Button, Tertiary Button, Dropdown List Button)
				&--secondary {
					@include flex-display($gap: #{get-rem(8)}, $align-items: center) {
						.divider {
							width: 1px;
							height: #{get-rem(26)};
							background-color: var(--scorp-gray3);
						}
					}
				}
			}
		}
	}
}
